<!-- <nav class="navbar navbar-default navbar-fixed-top navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="#" style="color: white; font-family:'Playfair Display';">Advertisement Tax</a>
  </div>
  <ul class="nav navbar-nav pull-right">
    <li class="active">
      <button class="border" mat-button [matMenuTriggerFor]="animals"
        style="color:white;font:'Playfair Display';">Menu</button>

      <mat-menu #animals="matMenu">
        <button mat-menu-item (click)="Log()">New Application</button>
      </mat-menu>

    </li>
  </ul>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Halanx Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer;" (click)="home()">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
